<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="독서가든"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Firebase 알림 채널 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />
        
        <!-- 구글 로그인 -->
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" />

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:usesCleartextTraffic="true"
            android:showWhenLocked="true"
	        android:turnScreenOn="true">
            
            <!-- Notification Click Intent Filter -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Branch App Links - Live App -->
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https" android:host="dokseogarden.app.link" />
				<data android:scheme="https" android:host="dokseogarden-alternate.app.link" />
			</intent-filter>

            <!-- 앱 시작 시 표시되는 테마 설정 -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>
            <!-- 앱 런처 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 초대 링크 처리 -->
            <intent-filter>                 
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="dokseogarden" android:host="open" />
            </intent-filter>
        </activity>

        <!-- Kakao SDK 설정 -->
        <activity
           android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
           android:exported="true">
           <intent-filter android:label="flutter_web_auth">
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="kakaoa4fcc9bb270d51847a1ae05d63619bda" android:host="oauth"/>
           </intent-filter>
       </activity>

       <!-- Branch SDK 설정 -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_dvl8wi8dSGBZT8EKkkKVpkanEDjoxIAF" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
    
        <!-- FlutterLocalNotificationsReceiver (푸시 알림을 처리) -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />

        <!-- Flutter 플러그인 생성 및 설정 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Https 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 앨범 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 푸시 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <!-- 마이크 권한 -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
</manifest>
