<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494928162578-g1tcfssv21evd9ei162st7r11dc3q65v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494928162578-g1tcfssv21evd9ei162st7r11dc3q65v</string>
	<key>API_KEY</key>
	<string>AIzaSyAjjbgjlftZQ_UUcY_DL5VnPNA3yr83zbM</string>
	<key>GCM_SENDER_ID</key>
	<string>494928162578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dokseogarden</string>
	<key>PROJECT_ID</key>
	<string>dokseogarden-68c26</string>
	<key>STORAGE_BUCKET</key>
	<string>dokseogarden-68c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494928162578:ios:aab4c6e5e3cdd31907cdcb</string>
</dict>
</plist>